body {
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(255, 204, 0); */
  margin: 0;
}

.chat {
  position: relative;
  height: 500px;
}

.suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.header {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.header ul {
  cursor: pointer;
  text-decoration: wavy;
  font-style: italic;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: black;
  padding: 20px 20px;
} */

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

input[type="text"] {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: rgb(255, 204, 0);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.response-box {
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  text-align: center;
  min-height: 72px;
  height: auto;
  white-space: pre-wrap;
}

.logo-div {
  background-color: white;
}

.logo {
  max-width: 80px;
  max-height: 80px;
}
